[Unit]
Description=uWSGI service
After=syslog.target
 
[Service]
ExecStart=/home/ubuntu/WebRTC/bin/uwsgi -i /home/ubuntu/WebRTC-APPLICATION-backend/.config/uwsgi/WebRTC.ini
 
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target